body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000
}
h2{
    text-align: center;
    color: #0c0b0b
}

.navbar ul{
    list-style: none;
    background-color:hsl(0, 0%, 25%);
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 12.5px;
    display: block;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
    display: inline;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
}

.active {
    font-weight: bold;
}

main {
    padding: 20px;
}


p {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0.5;
    font-size: 1.13rem;
    color:black;
}

img {
    width: 100%;
    height: auto;
    border: 10px solid transparent;
    border-bottom:2.5rem
}

table {
    width: 100%;
    border-collapse: collapse;
}

.image1{
    display: block;
    border-radius: 5.5%;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}

.image2{
    display: block;
    border-radius: 7.5%;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}

.image3{
    display: block; 
    border-radius: 6.5%;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}

