body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f-style-h, h1, h2, h3 {
    font-family: 'Poiret One', cursive;
    text-align: center;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000
}

h2 {
    font-size: 2.25em;
}

p {
    display: block;
    text-align: justify ;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0.5;
    font-size: 1.13rem;
    color:black;
    line-height: 150%;
}

.entry-p{
    text-align: center;
}

ul{
    list-style: none;
}

.navbar ul{
    list-style: none;
    background-color:hsl(0, 0%, 25%);
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 12.5px;
    display: block;
    font-size: 20px;
    padding: 7.5px;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
    text-decoration: overline underline;
    font-size: 25px;
    padding:8px;
    transition: 0.2s;
}
.navbar li{
    float: left;
    display: inline;
}

.box-width-med.padding-sm, p.padding-sm {
    padding: 1em;
    text-align: center;
}

.col-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: 1em;
    max-width: 1800px;
}
.col-1 h3 {
    margin-bottom: .1em;
    overflow: hidden;
}

.col-1 img{
    border-radius: 5px;
    width: 90%;
    height: 100%;
    transition: 1.5s;
}

.col-1 img:hover{
    border-radius: 30px;
    width: 100%;
    height: 110%;
    box-shadow: 0 0 25px 10px hsla(0, 0%, 15%, 0.5);
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.text-content {
    padding: 3em 0;
    max-width: 860px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 92%;
}

.text-content-2nd, .text-content.text-content-2nd {
    padding: 0 0 5em 0;
}

@media screen and (min-width: 1200px) {
    .text-content {
        width: 55%;
    }
}
@media screen and (min-width: 960px) {
    .text-content {
        padding: 4em 0;
    }
}
.text-content-2nd, .text-content.text-content-2nd {
    padding: 0 0 5em 0;
}
@media screen and (min-width: 1200px) {
    .text-content {
        width: 55%;
    }
}
@media screen and (min-width: 960px) {
    .text-content {
        padding: 4em 0;
    }
}
@media screen and (min-width: 960px) {
    .text-content {
        width: 70%;
    }
}
@media screen and (min-width: 640px) {
    .text-content, .wider {
        width: 81%;
    }
}
@media screen and (min-width: 568px) {
    .text-content {
        width: 88%;
    }
}

